  <input type="submit" name="btn" value="insert packge" (click)="addq()" class="btn btn-warning btn-sm btn-block" >


<div>
    <div
      cdkDropList
      [cdkDropListData]="data"
      class="example-list"
      (cdkDropListDropped)="drop($event)" >
      <div class="example-box" *ngFor="let item of data" cdkDrag>
          <div class="example-handle" cdkDragHandle>
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
              <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
        <app-adepter [part]="item"></app-adepter>
        </div>
    </div>
</div>

  <input type="submit" name="btn" value="create qestion data" (click)="add(1)" class="btn btn-warning btn-sm" >
  <input type="submit" name="btn" value="add answer pool" (click)="add(0)" class="btn btn-warning btn-sm " >
  <input type="submit" name="btn" value="add teacher response pool" (click)="add(2)" class="btn btn-warning btn-sm">